force-app/main/default/flows/Admission_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Application_Status</name>
        <label>Assign Application Status</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Record_1.hed__Application_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Application_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Status</name>
        <label>Assign Complete Status</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_in_Progress_Status</name>
        <label>Assign in Progress Status</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Action_Plan_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Applications</name>
        <label>Count of Applications</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varApplicationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Application_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_based_on_Application_Record_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Action_Plan_Message</name>
        <label>Set Action Plan Message</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varApplicationChecklistCompletion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Record_1.randa__Checklist_Completion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Action_Plan_Tasks.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Action_Plan_Tasks.Status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Action_based_on_Application_Record_Count</name>
        <label>Action based on Application Record Count</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Application_Record_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Record_1</targetReference>
            </connector>
            <label>One Application Record Found</label>
        </rules>
        <rules>
            <name>No_Application_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>No Application Records Found</label>
        </rules>
        <rules>
            <name>Multiple_Application_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Multiple Application Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Application_Complete</name>
        <label>Is Application Complete?</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_in_Progress_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application In Progress</defaultConnectorLabel>
        <rules>
            <name>Application_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admit with Conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Status</targetReference>
            </connector>
            <label>Application Complete</label>
        </rules>
    </decisions>
    <description>Replace Action Plan with action plan items 
Add Document Checklist Items (in progress)
Multiple Applications (in progress) 
Update Checklist Completion formatting (in progress)

Latest Reduction</description>
    <interviewLabel>Admission Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admission Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Action_Plan</name>
        <label>Get Action Plan</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Action_Plan_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActionPlanState</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Tasks</name>
        <label>Get Action Plan Tasks</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_from_email_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Record_1</name>
        <label>Get Application Record 1</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Application_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_from_email_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>from the email address provided to the bot, find a Contact</description>
        <name>Get_Contact_from_email_0</name>
        <label>Get Contact from email</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__UniversityEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_from_email_0</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varActionPlanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActionPlanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicationChecklistCompletion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varApplicationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Count of records found in the collection variable</description>
        <name>varContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>email address provided to the Bot</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoContactsFoundMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
