force-app/main/default/flows/Admissions_Connect_Bot_Email_Lookup_with_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Count_of_Records_found_by_email</name>
        <label>Count of Records found by email</label>
        <locationX>740</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>varContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_from_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Attempt_Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Faults</name>
        <label>Faults</label>
        <locationX>516</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Faults:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>will increment the Attempt Counts for the Bot</description>
        <name>Increase_Attempt_Count_0</name>
        <label>Increase Attempt Count</label>
        <locationX>878</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>varEmailAttemptCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_based_on_the_Contact_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Search Result Count, to return the value to the Bot.</description>
        <name>set_Search_Result_Count</name>
        <label>set Search Result Count</label>
        <locationX>1144</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>varEmailSearchResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the Search Result Count, to return the value to the Bot.</description>
        <name>set_Search_Result_Count_0</name>
        <label>set Search Result Count</label>
        <locationX>878</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>varEmailSearchResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the Search Result Count, to return the value to the Bot.</description>
        <name>set_Search_Result_Count_0_0</name>
        <label>set Search Result Count</label>
        <locationX>1143</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>varEmailSearchResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>varEmail_is_Null</name>
        <label>varEmail is Null</label>
        <locationX>388</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email is Null</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>set paths based on the number of records by the email search</description>
        <name>action_based_on_the_Contact_Count</name>
        <label>action based on the Contact Count</label>
        <locationX>870</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>set_Search_Result_Count_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 1</defaultConnectorLabel>
        <rules>
            <name>No_Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Search_Result_Count</targetReference>
            </connector>
            <label>No Records found</label>
        </rules>
        <rules>
            <name>One_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_from_email_0</targetReference>
            </connector>
            <label>One Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>prevent the flow running for blank variables.</description>
        <name>check_varEmail_is_not_NULL</name>
        <label>check varEmail is not NULL</label>
        <locationX>427</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>varEmail_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>varEmail is Null</defaultConnectorLabel>
        <rules>
            <name>varEmail_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_from_email</targetReference>
            </connector>
            <label>varEmail not Null</label>
        </rules>
    </decisions>
    <description>Will look for an email address, will track the attempt counts.</description>
    <interviewLabel>Admissions Connect Bot: Email Lookup with count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admissions Connect Bot: Email Lookup with count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>from the email address provided to the bot, find a Contact</description>
        <name>Get_Contact_from_email</name>
        <label>Get Contact from email</label>
        <locationX>614</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Records_found_by_email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faults</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__UniversityEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>from the email address provided to the bot, find a Contact</description>
        <name>Get_Contact_from_email_0</name>
        <label>Get Contact from email</label>
        <locationX>878</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Search_Result_Count_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faults</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__UniversityEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>check_varEmail_is_not_NULL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Count of records found in the collection variable</description>
        <name>varContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>email address provided to the Bot</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Count of the number of Email Searches completed</description>
        <name>varEmailAttemptCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count of the number of Contacts found. Passed back to the bot as 0, 1, or 2, so the bot can decide what to do next.  
Note 2 is used to indicate at least 2 Contact records were found.</description>
        <name>varEmailSearchResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>surface any Error messages</description>
        <name>varErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
