force-app/main/default/flows/Admission_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Complete_Status</name>
        <label>Assign Complete Status</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_in_Progress_Status</name>
        <label>Assign in Progress Status</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_of_Records_found_by_email</name>
        <label>Count of Records found by email</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_from_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_based_on_the_Contact_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Application_Status_Message</name>
        <label>set Application Status Message</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Application_Record.hed__Application_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Application_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_No_Contacts_Found</name>
        <label>set No Contacts Found</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varNoContactsFoundMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contact was found with this email</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>set paths based on the number of records by the email search</description>
        <name>action_based_on_the_Contact_Count</name>
        <label>action based on the Contact Count</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Between 2-10 contacts found</defaultConnectorLabel>
        <rules>
            <name>No_Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_No_Contacts_Found</targetReference>
            </connector>
            <label>No Records found</label>
        </rules>
        <rules>
            <name>One_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_from_email_0</targetReference>
            </connector>
            <label>One Record Found</label>
        </rules>
        <rules>
            <name>more_than_10_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <label>more than 10 contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Application_Complete</name>
        <label>Is Application Complete?</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_in_Progress_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application In Progress</defaultConnectorLabel>
        <rules>
            <name>Application_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admit with Conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Status</targetReference>
            </connector>
            <label>Application Complete</label>
        </rules>
    </decisions>
    <interviewLabel>Admission Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admission Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Application_Record</name>
        <label>get Application Record</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Application_Status_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_from_email_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>from the email address provided to the bot, find a Contact</description>
        <name>Get_Contact_from_email</name>
        <label>Get Contact from email</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Records_found_by_email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__UniversityEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>from the email address provided to the bot, find a Contact</description>
        <name>Get_Contact_from_email_0</name>
        <label>Get Contact from email</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Application_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__UniversityEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_from_email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Count of records found in the collection variable</description>
        <name>varContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>email address provided to the Bot</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoContactsFoundMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
