force-app/main/default/flows/date_time_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>update_Product</name>
        <label>update Product</label>
        <locationX>209</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>varProductDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scn1_0</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fxDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!varProductDateTime}+{!Time_to_Add}</expression>
    </formulas>
    <interviewLabel>date time test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>date time test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>scn1</name>
        <label>scn1</label>
        <locationX>211</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Product</targetReference>
        </connector>
        <fields>
            <name>dsp1</name>
            <fieldText>&lt;p&gt;Interview Start Time&lt;/p&gt;&lt;p&gt;{!$Flow.InterviewStartTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Time_to_Add</name>
            <dataType>Number</dataType>
            <fieldText>Time to Add</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>5</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn1_0</name>
        <label>scn1</label>
        <locationX>443</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dsp1_0</name>
            <fieldText>&lt;p&gt;Interview Start Time&lt;/p&gt;&lt;p&gt;{!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Plus &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Time_to_Add}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product {!fxDateTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>scn1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varProductDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
