force-app/main/default/flows/R_A_Bot_Application_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>All_Items_Message</name>
        <label>All Items Message</label>
        <locationX>812</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>varChecklistMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChecklistAllItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Application_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Checklist_List_Text_Values</name>
        <label>Assign Checklist List Text Values</label>
        <locationX>704</locationX>
        <locationY>1927</locationY>
        <assignmentItems>
            <assignToReference>varChecklistAllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varChecklistNumber} . {!Checklist_Loop.Name}  is listed as {!Checklist_Loop.Status}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChecklistAllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPadding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checklist_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Checklist_Number</name>
        <label>Assign Checklist Number</label>
        <locationX>446</locationX>
        <locationY>1927</locationY>
        <assignmentItems>
            <assignToReference>varChecklistNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Checklist_List_Text_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Status</name>
        <label>Assign Complete Status</label>
        <locationX>357</locationX>
        <locationY>1257</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>complete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_In_Progress_Status_and_Checklist_Completion</name>
        <label>Assign In Progress Status and Checklist Completion</label>
        <locationX>569</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>in progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChecklistCompleteText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_One_Application.randa__Checklist_Completion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Document_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_List_Message</name>
        <label>Assign Task List Message</label>
        <locationX>1213</locationX>
        <locationY>1652</locationY>
        <assignmentItems>
            <assignToReference>varTaskListMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskListAllItems</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_List_Values</name>
        <label>Assign Task List Values</label>
        <locationX>1127</locationX>
        <locationY>1929</locationY>
        <assignmentItems>
            <assignToReference>varTaskListAllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varTaskNumber} . {!Task_Loop.Subject} is {!Task_Loop.Status}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskListAllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPadding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Number</name>
        <label>Assign Task Number</label>
        <locationX>931</locationX>
        <locationY>1929</locationY>
        <assignmentItems>
            <assignToReference>varTaskNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_List_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Applications</name>
        <label>Count of Applications</label>
        <locationX>566</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>varApplicationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllApplications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Applications_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>236</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>varDebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Apps. Sorry!</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>varPadding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>                                                                                                                                                                    </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Count_of_Applications_Decision</name>
        <label>Count of Applications Decision</label>
        <locationX>560</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_One_Application</targetReference>
            </connector>
            <label>One Application</label>
        </rules>
        <rules>
            <name>Application_Count_is_Greater_Than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Many_Applications_Flow</targetReference>
            </connector>
            <label>Application Count is Greater Than 1</label>
        </rules>
        <rules>
            <name>No_Applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug</targetReference>
            </connector>
            <label>No Applications</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Application_Complete</name>
        <label>Is Application Complete</label>
        <locationX>561</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>Assign_In_Progress_Status_and_Checklist_Completion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomplete</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_One_Application.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_One_Application.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_One_Application.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admit with Conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_One_Application.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_One_Application.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_One_Application.hed__Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Status</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <description>Custom Application Collection Variable - Subflow - Tasks Criteria Update</description>
    <interviewLabel>R&amp;A Bot: Knowledge Variable - Application Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>R&amp;A Bot: Application Status</label>
    <loops>
        <name>Checklist_Loop</name>
        <label>Checklist Loop</label>
        <locationX>572</locationX>
        <locationY>1649</locationY>
        <collectionReference>Get_Document_Checklist_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Checklist_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Items_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>1026</locationX>
        <locationY>1651</locationY>
        <collectionReference>Get_Application_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Task_List_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Tasks</name>
        <label>Get Application Tasks</label>
        <locationX>812</locationX>
        <locationY>1477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_One_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>567</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <outputReference>GetAllApplications</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Application_Status__c</queriedFields>
        <queriedFields>hed__Applying_To__c</queriedFields>
        <queriedFields>hed__Term__c</queriedFields>
        <queriedFields>Bot_App_Status__c</queriedFields>
        <queriedFields>randa__Checklist_Completion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Checklist_Items</name>
        <label>Get Document Checklist Items</label>
        <locationX>570</locationX>
        <locationY>1479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checklist_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsRequired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_One_Application</name>
        <label>Get One Application</label>
        <locationX>569</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Application_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Applications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Many_Applications_Flow</name>
        <label>Assign Many Applications Flow</label>
        <locationX>909</locationX>
        <locationY>497</locationY>
        <flowName>R_A_Bot_Application_Status_Many_Applications</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>GetAllApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Application__c</objectType>
    </variables>
    <variables>
        <name>varApplicationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChecklistAllItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChecklistCompleteNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varChecklistCompleteText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChecklistMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChecklistNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskListAllItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskListMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
