force-app/main/default/flows/R_A_Bot_Verification_Code_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>provides a variable for the bot to consume, saying that the user has not provided a valid code</description>
        <name>set_Validated_Decision_failed</name>
        <label>set Validated Decision = failed</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varValidated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>provides a variable for the bot to consume, saying that the user is valid</description>
        <name>set_Validated_Decision_good</name>
        <label>set Validated Decision = good</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varValidated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>compares the two verification codes to see if they match</description>
        <name>evaluate_the_two_verification_codes</name>
        <label>evaluate the two verification codes</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>set_Validated_Decision_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSystemVerificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varUserVerificationFlow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Validated_Decision_good</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Compares the verification code entered by the user against the code generated by the system.  Returns TRUE or FALSE.</description>
    <interviewLabel>R&amp;A Bot: Verification Code Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>R&amp;A Bot: Verification Code Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>evaluate_the_two_verification_codes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>the Verification Code that the system generated</description>
        <name>varSystemVerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>verification code entered by the User</description>
        <name>varUserVerificationFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>assessment of the verification codes, to see if they match</description>
        <name>varValidated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
