force-app/main/default/flows/R_A_Bot_Verification_Code_Send.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>gets the verification code</description>
        <name>Get_Random_Code</name>
        <label>Get Random Code</label>
        <locationX>838</locationX>
        <locationY>469</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>send_verification_code_via_email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_End_and_Errors</targetReference>
        </faultConnector>
        <inputParameters>
            <name>stringLength</name>
            <value>
                <elementReference>varStringLength</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varExpiryTime</assignToReference>
            <name>expires</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varRandomString</assignToReference>
            <name>randomString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the participant a verification email code</description>
        <name>send_verification_code_via_email</name>
        <label>send verification code via email</label>
        <locationX>838</locationX>
        <locationY>610</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>set_End_and_Errors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_End_and_Errors</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Verification Code for Your Application Inquiry</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>final node in the Flow</description>
        <name>set_End_and_Errors</name>
        <label>set End and Errors</label>
        <locationX>1086</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>varEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Start_Time</name>
        <label>set Start Time</label>
        <locationX>838</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>varStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Random_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sets the length of the verification code</description>
        <name>set_String_Length</name>
        <label>set String Length</label>
        <locationX>836</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>varStringLength</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Start_Time</targetReference>
        </connector>
    </assignments>
    <description>Sends the user a verification code to confirm the email address.</description>
    <formulas>
        <description>10 minutes, calculated as (((1 [day] / 24 [hours]) / 60 [minutes] ) x 10 [minutes])</description>
        <name>fxExpiryTimeCalc</name>
        <dataType>DateTime</dataType>
        <expression>{!varStartTime}+0.00694</expression>
    </formulas>
    <interviewLabel>R&amp;A Bot: Verification Code Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>R&amp;A Bot: Verification Code Send</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>708</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>set_String_Length</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>body of the email</description>
        <name>varEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,

Enter {!varRandomString} into your chat session. This code expires in 5 minutes. 

Thank you,
The Admissions Chatbot</text>
    </textTemplates>
    <variables>
        <description>this is the email address of the Applicant</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>adds 5 minutes to the time the code was sent.</description>
        <name>varExpiryTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>this is the random string sent to the user</description>
        <name>varRandomString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>sets the string length for the Random String</description>
        <name>varStringLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
