force-app/main/default/flows/R_A_Bot_Check_for_the_ContactId_of_the_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>set_Contact_Id</name>
        <label>set Contact Id</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Details.ContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_UserId</name>
        <label>set UserId</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_User_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_Contact_Record</name>
        <label>check for Contact Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No Contact ID</defaultConnectorLabel>
        <rules>
            <name>has_a_Contact_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Details.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Contact_Id</targetReference>
            </connector>
            <label>has a Contact ID</label>
        </rules>
    </decisions>
    <description>Will see if the session User has a related Contact ID.</description>
    <interviewLabel>R&amp;A Bot: Check for the ContactId of the User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>R&amp;A Bot: Check for the ContactId of the User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_User_Details</name>
        <label>get User Details</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_UserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>allows the flow to capture the UserId from a Community session</description>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
